{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}



{% block head_extra %}

<style>
    .latin-heading_2 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    }
    .latin-heading_3 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: bold;
    }
    .greek-heading_2 {
    font-family: 'GFS Didot', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    }

    .background-container {
    background-image: url("{{url_for('static', filename = 'images/parchment_color.jpg')}}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem 0rem 0rem 3rem;
    }
    .table {
  background-color: transparent !important;}

.table td,
.table th {
  background-color: transparent !important;
  border: 1px solid transparent;}


</style>



{% endblock %}


{% block flash_messages %}{% endblock %}

{% block content %}

<div class="background-container">

<div class="mt-5 container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<h1 class="mt-5 latin-heading_new" style="font-size: 3rem;">My Account</h1>

<p class="latin-heading_new" style="font-size: 1.5rem;">Hello {{ current_user.username }}</p>

<p class="latin-heading_new" style="font-size: 1.5rem;">This page is only available to you as the currently logged-in user</p>

<p class="latin-heading_new" style="font-size: 1.5rem;">The email address we have recorded for you is: <b>{{ current_user.email }}</b></p>

    <h3 class="mt-5 latin-heading_new" style="font-size: 1.5rem;">Manage account</h3>
    <ul>
        <li class="latin-heading_new" style="font-size: 1.5rem;"><a href="{{ url_for('home_bp.change_pw') }}">Change Password</a></li>
        <li class="latin-heading_new" style="font-size: 1.5rem;"><a href="{{ url_for('home_bp.change_email') }}">Update Email</a></li>
    </ul>
            {% if current_user.role == "Normal" %}
    <h3 class="mt-5 latin-heading_new" style="font-size: 1.5rem;">Manage requests</h3>
    <ul>
        <li class="latin-heading_new" style="font-size: 1.5rem;"><a href="{{ url_for('home_bp.manage_edits_additions_users') }}">Manage edits and additions</a></li>
    </ul>

    <h3 class="mt-3 latin-heading_new" style="font-size: 1.5rem;">Change to Admin role</h3>

<div class="latin-heading_new" style="font-size: 1.2rem;">
        {{ wtf.quick_form(new_form, action=url_for('home_bp.change_to_admin'), method="post", id="", novalidate=True, autofocus=False) }}
    </div>
    <h3 class="mt-3 latin-heading_new" style="font-size: 1.5rem;">Invitation Code</h3>
<div class="col-lg-9" style="background-color: transparent;">

    <table class="table" style="background-color: transparent;">

        <tr><td class="latin-heading_new" style="font-size: 1.1rem;">{{ (invitation.code if invitation and invitation.code else "&mdash;") | safe}}</td></tr>
    </table>
</div>
                {% endif %}

<a href="{{url_for('home_bp.account_deletion_code')}}" class="btn btn-dark" style="background-color: transparent;">Deletion Code</a>

<h3 class="mt-3 latin-heading_new" style="font-size: 1.5rem; background-color: transparent;">Delete Account</h3>

<div class="latin-heading_new" style="font-size: 1.2rem; background-color: transparent;">
        {{ wtf.quick_form(delete_form, action=url_for('home_bp.account_deletion'), method="post", id="", novalidate=True, autofocus=False) }}
    </div>
        </div>

{% endblock %}

