{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}




{% block head_extra %}

<style>
    .latin-heading_2 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    }
    .latin-heading_3 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: bold;
    }
    .greek-heading_2 {
    font-family: 'GFS Didot', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    }

    .background-container {
    background-image: url("{{url_for('static', filename = 'images/parchment_color.jpg')}}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
    display: flex;
    width: 100%;
    flex-direction:column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 3rem 2rem 0rem 2rem;
    }
        .table {
  background-color: transparent !important;}

.table td,
.table th {
  background-color: transparent !important;
  border: 1px solid transparent;}


</style>
{% endblock %}

{% block flash_messages %}{% endblock %}

{% block content %}
<div class="background-container">

<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<h1 class="latin-heading_3">Admin</h1>
<div class="col-lg-12">
            <div class="table-responsive">
<table class="table" style="background-color: transparent;">
    <thead>
        <tr>
            <th class="latin-heading_3">ID</th>
            <th class="latin-heading_3">Username</th>
            <th class="latin-heading_3">Email</th>
            <th class="latin-heading_3">Role</th>
            <th class="latin-heading_3">User type</th>
            <th class="latin-heading_3">Delete user</th>
            <th class="latin-heading_3">Grant/remove authorisation</th>
            <th class="latin-heading_3">Promote/demote user</th>
        </tr>
    </thead>
    {% for user in user_lst %}
<tr>
    <td class="latin-heading_3">{{ user.id }}</td>
    <td class="latin-heading_3">{{ user.username }}</td>
    <td class="latin-heading_3">{{ user.email }}</td>
    <td class="latin-heading_3">{{ user.role }}</td>
    <td class="latin-heading_3">{{ user.user_type }}</td>

    <td>
        {% if current_user.user_type == "Autocrat" and user.user_type != "Autocrat" %}
        <form action="{{ url_for('admin_bp.delete_user') }}" method="post">
            {{ form.csrf_token() }}
            {{ form.choice(value=user.id) }}
            <button class="btn" type="submit"><i class="bi bi-trash"></i></button>
        </form>
        {% elif current_user.user_type != "Autocrat" and user.role == "Normal" %}
        <form action="{{ url_for('admin_bp.delete_user') }}" method="post">
            {{ form.csrf_token() }}
            {{ form.choice(value=user.id) }}
            <button class="btn" type="submit"><i class="bi bi-trash"></i></button>
        </form>
        {% endif %}
    </td>

    <td>
        {% if user.role == "Normal" %}
        <form action="{{ url_for('admin_bp.toggle_user_type') }}" method="post">
            {{ form.csrf_token() }}
            {{ form.choice(value=user.id) }}
            <button class="btn" type="submit">
                {% if user.user_type == "Authorised" %}
                <i class="bi bi-toggle-on"> Remove Authorisation</i>
                {% else %}
                <i class="bi bi-toggle-off"> Grant Authorisation</i>
                {% endif %}
            </button>
        </form>
        {% endif %}
    </td>

    <td>
        {% if user.role == "Normal" %}
        <form action="{{ url_for('admin_bp.invitation_code', id=user.id) }}" method="get" style="display:inline;">
            <button type="submit" class="btn" title="invitation code">
                <i class="bi bi-arrow-up-circle-fill"></i>
            </button>
        </form>
        {% endif %}
    </td>

    <td>
        {% if user.role == "Admin" and user.id != current_user.id and current_user.user_type == "Autocrat" %}
        <form action="{{ url_for('admin_bp.de_admin', id=user.id) }}" method="get" style="display:inline;">
            <button type="submit" class="btn" title="demote">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </button>
        </form>
        {% endif %}
    </td>
</tr>
{% endfor %}


</table>
                </div>
    <h3 class="mt-5 latin-heading_new" style="font-size: 1.5rem;">Manage account</h3>
    <ul>
        <li class="latin-heading_new" style="font-size: 1.5rem;"><a href="{{ url_for('admin_bp.manage_edits') }}">Manage Edits</a></li>
    </ul>
    <ul>
        <li class="latin-heading_new" style="font-size: 1.5rem;"><a href="{{ url_for('admin_bp.manage_additions') }}">Manage Additions</a></li>
    </ul>
    <ul>
        <li class="latin-heading_new" style="font-size: 1.5rem;"><a href="{{ url_for('version_control_bp.versions_') }}">Version Control</a></li>
    </ul>
    <h3 class="mt-3 latin-heading_new" style="font-size: 1.5rem;">Delete unneeded images</h3>

    <div style="text-align: left;">
    <a href="{{url_for('admin_bp.delete_unused_images_')}}" class="btn btn-dark" style="background-color: transparent">Delete Redundant Images </a>
        </div>
</div>
</div>



{% endblock %}
