
{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block head_extra %}

<style>
    .image-grid-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem auto;
    max-width: 90%;
    justify-content: space-between;
    }



    .image-grid-3 figure {
    flex: 0 0 calc(33.33333% - 1rem);
    margin: 0;
    }

    .image-grid-3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    display: block;
    }

    .circle-button{
    display: inline-block;
    width: 210px;
    height: 210px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid transparent;
    }
    .desktop-margins{
    margin-left: 10rem;
    margin-right: 10rem;
    }

    @media (max-width: 800px) {
    .desktop-margins{
    margin-left: 2rem;
    margin-right: 2rem;
    }
    }

    .small-image{
    max-width:150px;
    height:auto;
    }
    .circle-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    }

    .button-label {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
    }

    .button-column {
    display: flex;
    flex-direction: column;
    align-items: center;}

    .button-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    }

    .button-row.centered{
    justify-content: center;
    gap: 2rem;
    }
    .latin-heading_2 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    }
    .latin-heading_3 {
    font-family: 'Cinzel', serif;
    color: #000000;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: bold;
    font-size: 1.3rem;
    }
    .greek-heading_2 {
    font-family: 'GFS Didot', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    }

    .table {
  background-color: transparent !important;}

.table td,
.table th {
  background-color: transparent !important;
  border: 1px solid transparent;}

.col-lg-9 {
  margin-top: 0 !important;
}


    .background-container {
    background-image: url("{{url_for('static', filename = 'images/parchment_color.jpg')}}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height:100vh;
    display: flex;
    flex-direction:column;
    padding: 0.5rem;
    }

    .background-container h1 {
    margin: 20px;
    }


    @media (max-width: 768px) {
    .button-row{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    }
     .image-grid-3 img{
    width:100%;
    }

    .coin-row{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    }

    .circle-button {
    width:160px;
    height: 160px;
    }

    .greek-heading_2,
    .latin-heading_2 {
    font-size: 0.8rem;
    text-align: center;
    }
    .button-label {
    text-align: center;
    margin-bottom: 0.8rem;
    }

    .centered-line {
    width:100%;
    max-width: 700px;
    text-align: center;
    font-size: 2.6rem;
    margin: 1rem 0 0.5rem;
    }


     .coin-row-and-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    }

    .coin-row{
    display:flex;
    gap: 2rem;
    justify-content: center;
    }
    .side-text {
    width: 170px;
    }

    .side-text p{
    margin: 0.25rem 0;
    line-height: 1.2;
    }

    .left {
    text-align: left;
    }

    .right {
    text-align: right;
    }
    }
    .container-split{
    display: flex;
    justify-content: space-between;
    margin: 2rem 10%;
    border-top: 0px solid #000000;
    border-bottom: 0px solid #000000;
    padding-top: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    }

    .container-left {
    flex:1;
    text-align: center;
    }

    .divider {
    width: 1.5px;
    background-color: #000000;
    margin: 0;
    }

    .container-right {
    flex:1;
    text-align: left;
    line-height:1.5;
    }

</style>
{% endblock %}

{% block flash_messages %}{% endblock %}


{% block content %}
<div class="background-container">
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
    <h1 style="text-align: center; margin-bottom: 1rem;">
        <span class="latin-heading_3" style="display: block; font-size: 2rem;">{{book.title}}</span>
        <span class="latin-heading_3" style="display: block; font-size: 2rem;">{{book.in_greek}}</span>
    </h1>
    <div style="text-align: center; margin-bottom: 0.2rem; font-size: 1.6rem; ">
        <span class="latin-heading_3"><strong>Author:</strong>{{book.author}}</span>
    </div>
    <div style="text-align: center; margin-bottom: 0.2rem;">
        <span class="latin-heading_3"><strong>Year Completed:</strong>{{book.year_completed}}</span>
    </div>

    <div style="text-align: center; margin-bottom: 0.2rem;">
        <span class="latin-heading_3"><strong>Genre:</strong>{{book.genre}}</span>
    </div>
    <div style="text-align: center; margin-bottom: 0.2rem;">
        <span class="latin-heading_3"><strong>Current Location:</strong>{{book.current_location}}</span>
    </div>


    <div style="font-size: 1rem; text-align: center">{% if book.images %}
            <img src="{{book.images[0].url}}" alt = "{{book.images[0].filename}}" style="max-width: 50vw; height:auto;">
            {% else %}
            No image
            {% endif %}</div>
        <div class="divider"></div>

    <div class="latin-heading_new desktop-margins" style=" text-align: left; line-height: 1.6; margin-bottom: 3rem;">
        {{ book.description.replace('\n', '<br>')| safe }}
    </div>
    <div class="latin-heading_new desktop-margins" style=" text-align: left; line-height: 1.6; ">
      References: <br>{{ book.references.replace('\n', '<br>')| safe }}
    </div>

    {% if current_user.is_authenticated %}
    <button class="btn btn-dark" onclick="document.getElementById('edit-form').style.display='block'; this.style.display ='none';">
        Edit Literature
    </button>

    <div id = 'edit-form' class="latin-heading_new w-50 mx-auto" style="background-color: transparent;  {% if form_open %} display: block; {% else %} display: none; {% endif %}; margin-bottom: 1rem;">
        <form method="post" action="{{ url_for('edit_literature', id = book.id) }}" enctype="multipart/form-data" novalidate>
                               {{ wtf.quick_form(new_form, novalidate=True, autofocus=False) }}
            </form>
    </div>
        {% endif %}

 <div style="text-align: left; margin-bottom: 0rem;  margin-top: 1rem;" class="desktop-margins">
        <span class="latin-heading_3" style="font-size: 2rem; ">Gallery:</span>
    </div>
        {% if images|length>0 %}
    <div class="image-grid-3 latin-heading_new">
        {% for image in images %}
        <figure>
        <img src="{{image.url}}" alt="{{image.filename}}"> <figcaption>
         {{image.caption}} <br> ID number: {{image.id}}<br>
            {% if current_user.role == "Admin" %}
        <form action="{{ url_for('delete_image', id=image.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn" title="delete" style="font-size: 1.2rem;">
                <i class="bi bi-trash2"></i>
            </button>
        </form>
        {% endif %}
    </figcaption>
       </figure>
        {% endfor %}
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
{% if current_user.user_type == "Authorised" or current_user.role == "Admin" %}
    <button class="btn btn-dark mb-2" onclick="document.getElementById('edit-form-1').style.display='block'; this.style.display ='none';">
        Edit Image
    </button>

    <div id = 'edit-form-1' class="latin-heading_new w-50 mx-auto" style="background-color: transparent;  {% if form_open_1 %} display: block; {% else %} display: none; {% endif %}; font-size: 1.2rem; ">
        <form method="post" action="{{ url_for('edit_an_image', id = book.id) }}" enctype="multipart/form-data" novalidate>
                               {{ wtf.quick_form(new_form_2, novalidate=True, autofocus=False) }}
            </form>
    </div>
        {% endif %}
    {% if current_user.user_type == "Authorised" or current_user.role == "Admin" %}
    <button class="btn btn-dark" onclick="document.getElementById('edit-form-2').style.display='block'; this.style.display ='none';">
        Add an Image
    </button>

    <div id = 'edit-form-2' class="latin-heading_new w-50 mx-auto" style="background-color: transparent;  {% if form_open_2 %} display: block; {% else %} display: none; {% endif %}; font-size: 1.2rem;">
        <form method="post" action="{{ url_for('add_an_image', id = book.id, category = 'literature') }}" enctype="multipart/form-data" novalidate>
                               {{ wtf.quick_form(new_form_1, novalidate=True, autofocus=False) }}
            </form>
    </div>
        {% endif %}
        {% endif %}



    </div>



{% endblock %}
