{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block head_extra %}

<style>
    .latin-heading_2 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    }
    .latin-heading_3 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: bold;
    }
    .greek-heading_2 {
    font-family: 'GFS Didot', serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    }

    .background-container {
    background-image: url("{{url_for('static', filename = 'images/parchment_color.jpg')}}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem 0rem 0rem 5rem;
    }

</style>
{% endblock %}


{% block flash_messages %}{% endblock %}

{% block content %}

<div class="background-container">
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
    <div class="latin-heading_new" style="font-size: 1.2rem;">
        {{ wtf.quick_form(form, action="", method="post", id="", novalidate=True, autofocus=False) }}
    </div>
    <h2 class="latin-heading_new" style="font-size: 1.2rem;"><strong>Terms and Conditions:</strong></h2>
    <div style="text-align: left; margin-bottom: 0.2rem;">
        <span class="latin-heading_new">Please note! To register you give consent for the website to collect your personal email data, no other privacy data would be collected.</span><br>
            <span class="latin-heading_new">This website does not allow any explicit or excessively violent content. <br> All users found to have engaged in such behaviour may be banned without notice. </span><br>
                <span class="latin-heading_new">Please also respect intellectual property rights, articles need to be properly cited and images need to be either from public domain or used with consent from their owner(s). </span>
                <span class="latin-heading_new">This website uses cookies!</span>

    </div>
</div>

{% endblock %}
